#ignore temp files
*~

#ignore course info output file
piazza_course_info.txt

#ignore pdf files (just keep source files)
*.pdf

#ignore junk files from latex output
*.out
*.log
*.aux

#ignore junk files from compiling C code
*.o

#ignore junk files from compiling Haskell code
*.hi

#ignore other junk files
*.backup
*.kate-swp
*.swp
